<p-header>
  <h1>Список стран</h1>
</p-header>

<p-table [value]="countries">
  <ng-template pTemplate="header">
    <tr>
      <th>Название</th>
      <th>Описание</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-country>
    <tr>
      <td>{{country.name}}</td>
      <td>{{country.description}}</td>
    </tr>
  </ng-template>
</p-table>
