<form autocomplete="off" (ngSubmit)="search()" #form="ngForm">
  <div class="ui-g">
    <div class="ui-g-3">
      <p-dropdown [options]="touristItems"
                  [(ngModel)]="filter.tourist"
                  name="tourist"
                  placeholder="Select a tourist"
                  required></p-dropdown>
    </div>
    <div class="ui-g-4">
      <p-calendar [(ngModel)]="filter.tripDate"
                  [maxDate]="maxDateValue"
                  [readonlyInput]="true"
                  [showIcon]="true"
                  dateFormat="yy"
                  view="month"
                  name="date"
                  placeholder="Select trip date"></p-calendar>
    </div>
    <div class="ui-g-2">
      <button [disabled]="form.invalid" pButton type="submit" label="Click"></button>
    </div>
    <div class="ui-g-2">
      <button pButton type="button" label="Clear" (click)="clear()"></button>
    </div>
  </div>
</form>

<p-table [value]="tripSummaries">
  <ng-template pTemplate="header">
    <tr>
      <th>Турист</th>
      <th>Страна</th>
      <th>Год путешествия</th>
      <th>Количество поездок</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-trip>
    <tr>
      <td>{{trip.touristName}}</td>
      <td>{{trip.countryName}}</td>
      <td>{{trip.year}}</td>
      <td>{{trip.tripCount}}</td>
    </tr>
  </ng-template>
</p-table>
